@import '../stylesheet/variable.scss';
.success{
    background-color: $green-color;
    color: $white;
    text-align: center;
    padding: 0.6rem;
    border-radius: 1rem;
}

.error{
    color: $white !important;
    background-color: $red-color;
    text-align: center;
    padding: 0.6rem;
    border-radius: 1rem;
}

h4{
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 1rem;
}

h5{
    font-weight: 500;
    font-size: 20px;
}